.buttons-play-pause{
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  background-color: red;
}

.btnsplaying{
  background-image: url("../images/pause-button.svg");
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
}
