.btnpause{
 background-image: url("../images/play-button.svg");
}

.btnplaying{
 background-image: url("../images/pause-button.svg");
}

.buttons-play-pause{
  border-radius: 10px;
  background-color: #red;
}
