.contact-body {
  background-color: #000;
  position: relative;
}

.contact-h2 {
  color: #fff;
  text-align: center;
}

.contact-icon-link {
  color: #fff;
  text-decoration: none;
  fill: #fff;
}

.contact-icon-link:hover {
  color: #e2e2e2;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-social-media-icon {
  fill: #fff;
}

.social-media-icons {
  position: absolute;
  bottom: 5%;
}
